
.slider{
    float:left;
    background-color: blueviolet;
    width: 80%;
    height: 360px;
    margin-left: 13%;
    margin-top: 50px;
}

article .kutu{
    float:left;
    margin-left: 2%;
    margin-top: 50px;
    width: 96%;
    height: 360px;
    padding: 25px;
}