header {
    box-sizing: border-box;
    font-size: 50px;
    padding: 30px;
    padding-left: 10%;
    font-family:cursive;
}

nav{
    box-sizing: border-box;
    background-color: aliceblue;
    width: 100%;
    font-family:cursive;
}

nav li{
    font-size: 20px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    background-color: purple;
}    

nav ul{
    list-style-type: none;
}

nav div{
    margin:auto;
    width: fit-content;
    background-color: red;
}

nav a:link{
    text-decoration: none;
}

article {
    box-sizing: border-box;
    float: left;
    height: 870px;
    width: 70%;
 /*   background-color: bisque;*/
}

article .yazi{
    padding: 25px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 5%;
    float:left;
    width: 95%;
    height: 95%;
    background-color: rgb(116, 114, 250);
}

aside{
    box-sizing: border-box;
    float: right;
    height: 870px;
    width: 30%;
 /*   background-color: aliceblue;*/
}

footer{
    box-sizing: border-box;
    float:left;
  /*  background-color: violet;*/
    width: 100%;
    font-size: 18px;
    padding: 25px;
    text-align: center;
    vertical-align:middle;
}

aside .kutucuk{
    box-sizing: border-box;
    padding: 25px;
    background-color:crimson;
    margin-left: 5%;
    height: 360px;
    margin-top: 50px;
    width: 90%;
}