header .çerçeve{
    width: 90%;
    margin:auto;
    background-color: #2f99ad;
}

header .iç{
    box-sizing: border-box;
    font-size: 50px;
    padding: 30px;
    padding-left: 10%;
    font-family:cursive;
}

nav{
    box-sizing: border-box;
    background-color: #2f99ad;
    width: 90%;
    margin: auto;
    font-family:cursive;
}

nav li{
    font-size: 20px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
  /*  background-color: purple;*/
    box-sizing: border-box;
}    

nav ul{
    padding: 0;
    list-style-type: none;
}

nav div{
    border-top-style: groove;
    border-top-color: cornsilk;
    margin:auto;
    width: fit-content;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 1px;
  /*  background-color: red;*/
}

nav a:link{
    text-decoration: none;
    color: black;
}

nav a:visited{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
    color: black;
}

article {
    box-sizing: border-box;
    float: left;
    height: 870px;
    width: 70%;
 /*   background-color: bisque;*/
}

article .yazi{
    padding: 25px;
    box-sizing: border-box;
    margin-left: 7%;
    margin-top: 2%;
    float:left;
    width: 93%;
    height: 95%;
    background-color: rgb(116, 114, 250);
    overflow: scroll;
}

aside{
    box-sizing: border-box;
    float: right;
    height: 870px;
    width: 26%;
    margin-right: 4%;
 /*   background-color: aliceblue;*/
}

footer{
    box-sizing: border-box;
  /*  background-color: violet;*/
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    background-color: #2f99ad;
    font-size: 18px;
    padding: 25px;
    text-align: center;
    vertical-align:middle;
    float: left;
}

aside .kutucuk{
    box-sizing: border-box;
    padding: 25px;
    background-color:crimson;
    margin-left: 5%;
    height: 360px;
    margin-top: 6%;
    width: 90%;
}