
header .çerçeve{
    width: 100%;
    background-color: #383e3a;
}

header .iç{
    box-sizing: border-box;
    font-size: 50px;
    padding: 30px;
    padding-left: 10%;
    font-family:cursive;
    color: cornsilk;
}

nav{
    box-sizing: border-box;
    background-color: #383e3a;
    width: 100%;
    margin: auto;
    font-family:cursive;
}

nav li{
    font-size: 20px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
  /*  background-color: purple;*/
    box-sizing: border-box;
}    

nav ul{
    padding: 0;
    list-style-type: none;
}

nav div{
    border-top-style: groove;
    border-top-color: cornsilk;
    margin:auto;
    width: fit-content;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 1px;
  /*  background-color: red;*/
}

nav a:link{
    text-decoration: none;
    color: cornsilk;
}

nav a:visited{
    text-decoration: none;
    color: cornsilk;
}

nav a:hover{
    text-decoration: underline;
    color: cornsilk;
}

/*article {
    box-sizing: border-box;
    float: left;
    height: 870px;
    width: 70%;
    background-color: bisque;
}*/

article .yazi{
    padding: 25px;
    box-sizing: border-box;
    margin-left: 2%;
    margin-top: 25px;
    float:left;
    width: 96%;
    height: 870px;
/*    background-color: rgb(116, 114, 250);*/
    overflow:auto;
}

/*aside{
    box-sizing: border-box;
    float: right;
    height: 870px;
    width: 26%;
    margin-right: 4%;
    background-color: aliceblue;
}*/

footer{
    box-sizing: border-box;
  /*  background-color: violet;*/
    width: 100%;
    margin-top: 25px;
    background-color:#383e3a;
  /*  background-color: #2f99ad;*/
    font-size: 18px;
    padding: 25px;
    text-align: center;
    vertical-align:middle;
    float: left;
    color: cornsilk;
}

aside .kutucuk{
    box-sizing: border-box;
    padding: 25px;
    background-color:#383e3a;
    margin-left: 2%;
    height: 300px;
    margin-top: 25px;
    width: 96%;
}

input[type=text], textarea, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }